/*********************************
        GENERALITIES
**********************************/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    }

html, body {
    height: 100%;
}

body {
	margin: 0;
	background-color: #FFF;
	color: #000;
    font-family: 'courier_newregular';
	font-size: 12px;
    /* overflow: hidden; */
}

section, div, ul {
	display: block;
}

li {
    display: block;
    max-width: 12%;
}



/*********************************
        WHOLE PAGE LAYOUT
**********************************/

.container {
    display: flex;
    height: 100%;
    flex-direction: column;

}

/*********************
        HEADER
**********************/

/* header padding */
header {
    padding: 30px;
    position: fixed;
    width: 100%;
}

/* Margin correction to align with menu */
.logo {
    margin-left: -16px;
}
/* menu font color */
a {
    color: #000;
}

/* menu font color when hovered on */
a:hover {
    color: red;
}

/* current page font color */



.selected {
    font-family: 'courier_newbold';
    color: red;
}



.dropdown_content {
    position: absolute;
}

/*.dropdown:hover  .dropdown_general {
    display: block;
}*/

.space {
    height: 28px;

}

/*********************
        CONTENT
**********************/


.content {

    height: 60vh;
    padding: 10%;
}



.collection_text_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.collection_text {
    font-family: 'din_condensedbold';
    font-size: 24px;
    text-align: justify;

}

@media screen and (min-width: 1400px) {

.collection_text {
    font-family: 'din_condensedbold';
    font-size: 30px;
    text-align: justify;
}
    }

.red {
    color: red;
}

.collection_text p:nth-child(4) {
    text-align: right;
}

/****
*/

.image_container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.collection_img {
  height: 800px;
  margin: 0 20px;
}




/*********************
        FOOTER
**********************/

/* footer padding */
footer {
  position: fixed;
  top: 0;
  right: 0;
  padding:  30px;
  z-index: 10;
}
