/*********************************
        GENERALITIES
**********************************/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    }

html, body {
    height: 100%;
}

body {
	margin: 0;
	background-color: #FFF;
	color: #000;
    font-family: 'courier_newregular';
	font-size: 12px;
    overflow: hidden;
}

section, div, ul {
	display: block;
}

li {
    display: block;
    max-width: 12%;
}



/*********************************
        WHOLE PAGE LAYOUT
**********************************/

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

/*********************
        HEADER
**********************/

/* header padding */
header {
    padding: 30px;
}

/* Margin correction to align with menu */
.logo {
    margin-left: -16px;
}
/* menu font color */
a {
    color: #000;
}

/* menu font color when hovered on */
a:hover {
    color: red;
}

/* current page font color */



.selected {
    font-family: 'courier_newbold';
    color: red;
}



.dropdown_content {
    position: absolute;
}

/*.dropdown:hover  .dropdown_general {
    display: block;
}*/

.space {
    height: 28px;

}

/*********************
        CONTENT
**********************/


.content {

    height: 60vh;
    padding: 10%;
}



.collection_text_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.collection_text {
    font-family: 'din_condensedbold';
    font-size: 24px;
    text-align: justify;

}

@media screen and (min-width: 1400px) {

.collection_text {
    font-family: 'din_condensedbold';
    font-size: 30px;
    text-align: justify;
}
    }

.red {
    color: red;
}

.collection_text p:nth-child(4) {
    text-align: right;
}




/*********************
        FOOTER
**********************/

/* footer padding */
footer {
  padding: 30px;
}

/* footer layout */
.footer_flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* left side footer layout */
.footer_left {
    display: flex;
    align-items: center;
    line-height: 1.4;
}
/* flex */
.meet, .contact {
    display: flex;
}

/* contact left margin to */
.contact {
    margin-left: 30px;
}

/* backlashes right padding */
.backslashes {
    padding: 0 8px 0 0;
}

/* Courier Bold for spans */
.bold {
    font-family: 'courier_newbold';
}

/* right side footer layout */
.footer_right {
margin-left: auto;
margin-right: -10px;
}

/* facebook & instagram logos middle vertical align*/
.footer_right img {
    vertical-align: middle;
}
