/*********************************
        GENERALITIES
**********************************/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    }

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #000;
    /*background-image: url(../img/bandanalow.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    color: #FFF;
    font-family: 'courier_newregular';
    font-size: 12px;
    overflow: hidden;
}

section, div, ul {
    display: block;
}

li {
    display: block;
    max-width: 12%;
}

a {
    display: inline-block;
    cursor: pointer;
}







/*********************************
        WHOLE PAGE LAYOUT
**********************************/

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

video {
  object-fit: cover;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
}

/*********************
        HEADER
**********************/

/* header padding */
header {
    padding: 30px;
    z-index: 3;
}

/* Margin correction to align with menu */
.logo {
    margin-left: -16px;
}
/* menu font color */
a {
    color: #FFF;
}

/* menu font color when hovered on */
a:hover {
    color: red;
}

.dropdown_general {
display: none;
}

.dropdown_content {
    position: absolute;
}

.dropdown:hover  .dropdown_general {
    display: block;
}

.dropdown:hover .space {
    display: block;
}

.space {
    height: 28px;
    display: none;
}




/*********************
        FOOTER
**********************/

/* footer padding */
footer {
  position: absolute;
  top: 0;
  right: 0;
  padding:  30px;
  z-index: 10;
}
